<!DOCTYPE html>
<html>
  <head>
    <title>Lynx</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      var answerMap = {};
      // function sendAnswerData(url, data=None, token) {
      //   answerMap[data[0]] = data[1];
      //   console.log('token', token);
      //   $.ajax({
      //     method: 'POST',
      //     url: url,
      //     data: answerMap,
      //     success: function (data) {
      //         $("#body").html(data);
      //     }
      //   });
      // }

      function sendAnswerData(key, data) {
        answerMap = {};
      }

      function loadLocalStorage() {

      }

      function storeRadioButtonState(questionIndex, answer) {
      console.log('questionIndex', questionIndex);
      console.log('answerIndex', answerIndex);
      answerMap[questionIndex] = answerIndex;
      console.log('answerMap', answerMap);
      }
    </script>
  </head>
  <body id="body">
    {% block content %} {% endblock %}
  </body>
</html>