{% extends "home/base.html" %}
{% block content %}
    {% if ques_created %}
        <form method="POST" id="answer_text" action="/create-question/{{ques_pk}}/">
          {% csrf_token %}
          <h1>{{question}}</h1>
          {% for answer in answers %}
            <h5>{{answer}}</h5>
          {% endfor %}
          <input name="answer_text" placeholder="Answer Text" id="answer_text" />
          <button type="submit" form="answer_text">
              Add Answer
          </button>
        </form>
    {% else %}
        <form method="POST" id="question_text" action="/create-question/{{ques_pk}}/">
          {% csrf_token %}
          <input name="question_text" placeholder="Question Text" id="question_text" />
          <button type="submit" form="question_text">
              Add Queston Text
          </button>
        </form>
    {% endif %}
    {% if answers_created  %} 
      <form method="POST" id="submit_question" action="/create-question/{{ques_pk}}/">
        {% csrf_token %}
        <button type="submit" form="submit_question">
            Submit Question
        </button>
      </form>     
    {% endif %}
{% endblock content %}>