{% extends "home/base.html" %}
{% block content %}
    <h1> {{ quiz.name }}</h1> 
    {% for question in questions %}
      <h2>{{question.question}}</h2>
      {% for answer in question.answers %}
        <h4>{{ answer }}</h4>
      {% endfor %}
    {% endfor %}
    <a href="{% url 'create-question' quiz.id %}">
        <button>
          Add Question
        </button>
    </a>
    {% if questions %}
      <a href="{% url 'view-quiz' %}">
          <button>
            Done
          </button>
      </a>
    {% endif %}
{% endblock content %}>