{% extends "home/base.html" %}
{% block content %}
    <form method="POST" id="create_list">
    <input name="list_name" placeholder="Enter name of list" />
    {% csrf_token %}
    <button type="submit" form="create_list">
        Create a list
    </button>
    </form>
    <h4>Your Lists</h4>
    <ul>
    {% for list in list_all %}
      <form method="GET" action="#">
        <a href="{% url 'list_details' list.id %}">
          <li>{{ list.name }}</li>
        </a>
      </form>
      <form method="POST" id="create_item">
        {% if open_list|stringformat:"s" == list.name|stringformat:"s" %}
          <button type="submit" form="create_item"> Add item </button>
        {% endif %}
      </form>
    {% endfor %}
    </ul>
{% endblock content %}>